body {
    width: 100%;
    margin: 0 auto;
    font: normal 24px Arial, Helvetica, sans-serif;
    background: #F06060;
}

#scores {
    background-color: #cb4e4e;
    color: #fff;
    margin: 0 auto;
    height: 40px;
}

#player1 {
    width: 50%;
    margin: 5px auto;
    float: left;
}

#player2 {
    width: 50%;
    margin: 5px auto;
    float: left;
}

#player1 p {
    margin: 0 0 0 40px;
    text-align: left;
}

#player2 p {
    margin: 0 40px 0 0;
    text-align: right;
}

#fight_bg {
    position: absolute;
    margin: 0 auto;
    z-index: 10;
    top: 40px;
}

#fight_bg img {
    height: 100%;
    width: 100%;
}

.heading {
    color: #1c80b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

#fight_btn {
    position: absolute;
    width: 230px;
    z-index: 25;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    text-align: center;
}

#btn {
    border: none;
    cursor: pointer;
    box-shadow: 0 6px #ab3c3c;
    background: #cb4e4e;
    border-radius: 40px;
    padding: 25px 80px;
    font: 700 18px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#btn:hover {
    box-shadow: 0 4px #ab3c3c;
    margin-top: 2px;
}

#btn:active {
    box-shadow: none;
    margin-top: 6px;
}

#round_count {
    font: bold 20px Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}
